:root {
    --color-black: #212121;
    --color-grey: #757575;
    --color-white: #ffffff;
    --color-blue: #2196f3;
    --color-background-footer: #2f303a;
    --color-background-team: #f5f4fa;
    --color-icon-fill: #afb1b8;
    --color-portfolio-border: #eeeeee;
    --transition-time: 250ms;
    --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
    --font-family: "Roboto", sans-serif;
  }