
.client__item {
    flex-basis: calc((100% - 150px) / 6);
}

.client__link {
    transition-property: border;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92px;
    border: 1px solid var(--color-grey);
    border-radius: 4px;

    &:hover,
    &:focus {
        border: 1px solid var(--color-blue);
    }

    &:hover .client__icon,
    &:focus .client__icon {
        fill: var(--color-blue);
    }

}

.client__icon {
    transition-property: fill;
    transition-duration: var(--transition-time);
    transition-timing-function: var(--transition-function);
    fill: var(--color-icon-fill);
}