.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.03em;
  color: var(--color-blue);

  @media screen and (min-width: 1200px) {

    font-size: 26px;
    line-height: 1.19;
  }

}


.header__logo {
  padding-top: 15px;
  padding-bottom: 15px;

  &--accent {
    color: var(--color-black);
  }

  @media screen and (min-width: 768px) {
    padding-top: 25px;
    margin-right: 88px;
    padding-bottom: 25px;


  }


  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: calc(31 / 26);
    padding-top: 24px;
    padding-bottom: 25px;

  }


}


.footer__logo {
  display: block;
  margin-bottom: 20px;

  &--accent {
    color: var(--color-white);
  }
}